@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;

  --primary: 220 38 38;
  --secondary: 30 115 190;
}

body {
  @apply bg-slate-50 text-slate-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}
